.addList {
	position: relative;
    input {
        outline: none;
        border: none;
        height: 22px;
        margin-top: 3px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.2);
        color: #F1F2F4;
        width: 98.2%;
        padding-left: 5px;
        &::placeholder {
            color: #fff;
            letter-spacing: 1px;
        }
    }
}
.saveList {
	margin-top: 3px;
	box-sizing: border-box;
	width: 100%;
	border: none;
	outline: none;
	transition: all 0.3s;
	box-shadow: none;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.2);
    &:hover {
        cursor: pointer;
        img{
            filter: invert(0%) sepia(1%) saturate(2%) hue-rotate(227deg) brightness(107%) contrast(101%);
        }
    }
    img{
        margin:5px;
        width: 20px;
        filter: invert(50%) sepia(1%) saturate(2%) hue-rotate(227deg) brightness(107%) contrast(101%);
    }
}