#clock {
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	display: flex;
	margin-bottom: 10px;
	background-repeat: repeat;
	background-position: center center;
    span{
        border: 0.1px solid rgba(255, 255, 255, 0.75);
        box-shadow: 0px 10px 40px -15px rgba(209, 94, 94, 0.897);
        width: 25px;
        height: 25px;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0px 10px 40px -15px rgba(255,255,255,0.5);
        padding: 3px;
        font-size: 15px;
        :first-child {
            text-shadow: 0 0 15px rgba(248, 27, 27, 0.75);
        }
        :nth-child(2) {
            text-shadow: 0 0 15px rgba(49, 27, 248, 0.75);
        }
        :last-child {
            text-shadow: 0 0 15px rgba(27, 248, 64, 0.75);
        }
    }
}