#player {
  display: none;
}

.radio img#btnList {
  width: 32px;
  height: 32px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  -webkit-filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(227deg) brightness(107%) contrast(101%);
          filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(227deg) brightness(107%) contrast(101%);
}

.radio img#btnList:hover {
  cursor: pointer;
}

.radio img#btnList:hover img {
  -webkit-filter: invert(0%) sepia(1%) saturate(2%) hue-rotate(227deg) brightness(107%) contrast(101%);
          filter: invert(0%) sepia(1%) saturate(2%) hue-rotate(227deg) brightness(107%) contrast(101%);
}

.radio .sign {
  font-size: 0.5em;
}

.radio .player {
  border: 0.1px solid rgba(255, 255, 255, 0.75);
  background-image: url("https://source.unsplash.com/1920x1080/?pub");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 1;
  width: 450px;
}

.radio .player .songs {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.radio .player .songs .containerSongs {
  width: 100%;
  height: 220px;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.4);
}

.radio .player .songs .containerSongs .itemList {
  position: relative;
  padding: 5px 0;
  border-bottom: 1px dashed;
  margin: 0 10px;
}

.radio .player .songs .containerSongs .itemList a {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  padding: 3px 0px;
  text-align: left;
  color: #F1F2F4;
  display: block;
}

.radio .player .songs img#close {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  background: white;
  padding: 3px;
  z-index: 2;
}

.radio .player .songs img#close:hover {
  cursor: pointer;
}

.radio .player .layer {
  position: relative;
  width: 100%;
  height: 70px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 15px;
}

.radio .player .layer i {
  font-size: 4em;
  color: #fff;
}

.radio .player .layer .btn-repeat i {
  font-size: 2em;
}

.radio .player .layer button {
  width: 30px;
  background-color: #0000;
  border: none;
  bottom: 10px;
  opacity: 0.8;
  margin: 0 40px 0;
  outline: none;
  border-radius: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.radio .player .vinyl-player {
  position: relative;
}

.radio .player .vinyl-player .medias {
  position: relative;
}

.radio .player .vinyl-player .medias img#open {
  -webkit-animation: heartbeat 10s linear infinite;
          animation: heartbeat 10s linear infinite;
  background-color: #fff;
  border-radius: 5px;
  width: 26px;
  height: 26px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(227deg) brightness(107%) contrast(101%);
          filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(227deg) brightness(107%) contrast(101%);
}

.radio .player .vinyl-player .medias img#open:hover {
  cursor: pointer;
  -webkit-filter: invert(0%) sepia(1%) saturate(2%) hue-rotate(227deg) brightness(107%) contrast(101%);
          filter: invert(0%) sepia(1%) saturate(2%) hue-rotate(227deg) brightness(107%) contrast(101%);
}

.radio .player .vinyl-player #kim {
  z-index: 1;
  position: absolute;
  top: 8px;
  right: 72px;
  height: 100px;
  -webkit-animation: rotate-kim 1s infinite alternate;
          animation: rotate-kim 1s infinite alternate;
}

.radio .player .vinyl-player #circel {
  position: absolute;
  top: 0;
  right: 60px;
  width: 50px;
}

.radio .player .nametag {
  background-size: cover;
  background-position: center !important;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 3px 3px 0px 0px black;
          box-shadow: 3px 3px 0px 0px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 220px;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  padding: 10px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* animation: rotate-circle 10s linear infinite; */
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
}

.radio .player .nametag h1 {
  font-size: 3em;
  line-height: 80px;
  text-transform: capitalize;
  margin-bottom: 5px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.55);
}

.radio .player .title {
  font-size: 19px;
  text-align: center;
  color: #f9f9f9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0.95;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}

.radio .player p {
  font-size: 0.5em;
}

.radio .player .playM {
  border-radius: 50%;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

.radio .player .pauseM {
  border-radius: 50%;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

.radio .player button:hover {
  opacity: 1;
  cursor: pointer;
}

.radio .player .layer div:nth-child(1) button {
  width: 30px;
}

.radio .player .layer div:nth-child(3) button {
  width: 30px;
}

.radio .player .layer .btn-prev:active {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.radio .player .layer .btn-next:active {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.radio .player .layer img {
  -webkit-filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(227deg) brightness(107%) contrast(101%);
          filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(227deg) brightness(107%) contrast(101%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vol {
  position: absolute;
  top: 30px;
  right: 10px;
}

.vol #volume {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.vol #volume:hover {
  opacity: 1;
}

.vol #volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px;
  height: 9px;
  background: #333333;
  cursor: pointer;
}

.vol #volume::-moz-range-thumb {
  width: 9px;
  height: 9px;
  background: #333333;
  cursor: pointer;
}

@media (max-height: 414px) {
  .player {
    width: 100%;
    padding: 0 0 10px 0;
  }
  .player .layer {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .player .title {
    width: auto;
    padding: 0;
  }
  .player .nametag {
    height: 150px;
    width: 150px;
    padding: 0;
  }
  .player .vinyl-player #circel, .player .vinyl-player #kim {
    display: none;
  }
  .switch {
    bottom: 0;
  }
  .form {
    bottom: -25px;
  }
}

@media (max-width: 576px) {
  .vol {
    top: 0;
    right: 0;
  }
  .vol #volume {
    width: 50px;
  }
  body {
    -webkit-animation: radiant-color 3s infinite alternate;
            animation: radiant-color 3s infinite alternate;
  }
  .bg {
    display: none;
  }
  .player {
    width: 90%;
  }
  .player .layer {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .player .layer img {
    width: 50%;
  }
  .player .layer div:nth-child(1) button {
    margin: auto;
    width: 60px;
  }
  .player .layer div:nth-child(3) button {
    margin: auto;
    width: 60px;
  }
  .player .nametag {
    padding: 0;
    height: 150px;
    width: 150px;
  }
  .player .nametag .title {
    width: 100%;
    font-size: 12px;
  }
  .player .nametag h1 {
    padding-top: 0;
  }
  .player .nametag .sign {
    font-size: 0.5em;
  }
  .player .vinyl-player #circel, .player .vinyl-player #kim {
    display: block;
  }
  .player .vinyl-player #kim {
    top: 8px;
    right: 70px;
    height: 80px;
  }
  .player .vinyl-player #circel {
    top: 3px;
    right: 62px;
    width: 40px;
  }
  .player .repeat .btn-repeat img {
    width: 50%;
  }
  .player .playList .btn-list img {
    width: 50%;
  }
  .player .addList button {
    top: 5px;
    left: 10px;
    width: 40px;
  }
  .player .addList button img {
    width: 50%;
  }
  .player button {
    margin: 0 10px 0;
    width: 60px;
  }
  .swal2-title {
    font-size: 1.2em;
  }
}

@media (max-width: 375px) {
  .player .vinyl-player #kim {
    top: 8px;
    right: 40px;
    height: 80px;
  }
  .player .vinyl-player #circel {
    top: 3px;
    right: 33px;
    width: 40px;
  }
}
/*# sourceMappingURL=Player.css.map */