code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

@font-face {
  font-family: 'marcellus_scregular';
  src: url('assets/font/marcellussc-regular-webfont.woff2') format('woff2');
  font-display: swap;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(236, 234, 234);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(71, 71, 71);
}

* {
  margin: 0;
  padding: 0;
  font-family: marcellus_scregular, serif;
}

html,
body {
  margin: 0;
  padding: 0;
}